* {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Courier New", Courier, monospace;
}
html,
body {
  background-color: black;
  height: 99%;
  margin: 0;
}

.all {
  min-height: 100%;
  position: relative;
}

.contentindex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: contentindex;
}

.imagePhoto {
  background-image: url(https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_960_720.png);
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
}

.body__title,
.body_text {
  color: antiquewhite;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border: 2rem transparent;
  justify-content: center;
}
.main__bottom {
  background-color: #045de9;
  border: 3px solid transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
  padding: 10px;
  margin-bottom: 50px;
}

.main__bottom:hover {
  border: 3px solid #045de9;
  background-color: white;
  color: #045de9;
}
.Bottom_conteiner {
  display: flex;
  justify-content: center;
}

/*Carousel*/

.carousel {
  margin: 1rem 3rem 2rem 3rem;
}

.carouselTitle {
  margin: 1rem;
  display: flex;
  justify-content: center;
  color: antiquewhite;
}

.carouselImage {
  height: 500px;
}

.carousel-inner{
  height: 500px;
}
.headertravel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: headertravel;
}

/*Quien soy*/
.presentation_title {
  color: antiquewhite;
  display: flex;
  justify-content: center;
}

.contImage {
  display: flex;
  justify-content: center;
}

.presentation_text {
  color: antiquewhite;
  text-align: center;
}

.presentation_image {
  width: 30%;
  height: 75%;
  border-radius: 30px;
  margin-bottom: 10px;
}

/*Formulario*/
.contForm {
  background-color: blanchedalmond;
}

/*Shop*/

.shopTitle {
  text-align: center;
  margin: 1rem 0 1rem 0;
  color: antiquewhite;
}

.shopText {
  color: antiquewhite;
  text-align: center;
  margin: 0 2px 10px 2px;
}

.card-img-top{
  width: 275px;
  height: 200px;
}

.card {
  background-color: antiquewhite;
  width: 300px;
  height: 320px;
  margin: 5px;
}

.row{
  display: flex;
  justify-content: center;
}

.card-body{
  text-align: center;
}

.card-img-top{
  margin-top: 10px;
  border-radius: 10px;

}

.buttonShop{
  margin-bottom: 20px;
}

/*Galeria*/
.gallery {
  margin-top: 1rem;
  font-family: "open sans";
}

.gallery h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}

.line {
  border-top: 5px solid #0077c0;
  margin-bottom: 40px;
}

.cont-image {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.cont-image .image {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 118, 192, 0.781);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.overlay h2 {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.image:hover .overlay {
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cont-image {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .cont-image {
    width: 90%;
  }
  .cont-image .image {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
  .cont-image {
    width: 98%;
  }
  .cont-image .image {
    width: 80%;
  }
}

.navbar-brand,
.nav-link {
  color: antiquewhite;
}

.navbar {
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.header {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;
}

/*.bigicon {
  font-size: 35px;
  color: #36A0FF;
}*/

/*Viajes*/
.allTravel{
  display: flex;
}

.contImgTravel{
display: flex;
justify-content: center;
}

.imgTravel{
  width: 50%;
  border-radius: 10px;
}

.travel_tittle_inicial {
  color: antiquewhite;
  text-align: center;
  margin: 50px;
}

.travel_tittle {
  list-style: none;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.travels_text{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 2rem;
}

.travel_places {
  color: antiquewhite;
  text-align: left;
}

.travels_cont {
  display: flex;
  margin: 20px;
}

.Bottom_conteiner_travel {
  background-color: #045de9;
  border: 3px solid transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
  padding: 5px;
  margin: 0 2rem 2rem 0;
}

.bottomTravel {
  text-decoration: none;
  color: antiquewhite;
}

.Bottom_conteiner_travel:hover {
  border: 3px solid #045de9;
  background-color: white;
  color: #045de9;
}

.contenedorBoton {
  display: flex;
  justify-content: right;
}

/*Footer*/

.footer {
  background-color: black;
  text-align: center;
  padding: 2px;
  border: 2px solid black;
}

.footer__text {
  color: antiquewhite;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border: 5px solid black;
  margin: 5px;
}

.footer__icons {
  text-align: center;
  display: inline-block;
  width: 40px;
  padding: 0.5px;
  padding-bottom: 30px;
  margin: 0.5px;
}
